@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "op";
  src: url("../../public/fonts/OP.ttf");
}

@font-face {
  font-family: "burtons";
  src: url("../../public/fonts/Burtons.otf"); 
}

@font-face {
  font-family: "tisa";
  src: url("../../public/fonts/Tisa.ttf");
}

@font-face {
  font-family: "tisa_bold";
  src: url("../../public/fonts/Tisa-Bold.ttf");
}
@font-face {
  font-family: "oswald";
  src: url("../../public/fonts/Oswald.ttf");
}

@font-face {
  font-family: "oswald_bold";
  src: url("../../public/fonts/Oswald-Bold.ttf");
}